<h1 class="text-2xl my-8">{{project.name}} {{project-page.project}}</h1>
<div class="text-xl my-4 underline cursor-pointer"
     onclick="projectForm.classList.toggle('hidden')">{{project-page.edit}}</div>
<div id="project-form" class="hidden mb-8">{{>project-form}}</div>
<a class="text-xl my-4 underline block" href="/tasks?project={{project.name}}">{{project-page.tasks}}</a>
<a class="text-xl my-4 underline" href="/projects">{{project-page.projects}}</a>

<script>
    const projectForm = document.getElementById("project-form");
</script>