<h1 class="text-2xl my-8">{{projectsTitle}}</h1>
{{#hasProjects}}
    <div id="projects-container" class="space-y-2"
         data-delete-project-message-template="{{deleteProjectMessageTemplate}}">
        {{#projects}}
            <div id="p-{{project.id}}" class="relative border rounded border-black max-w-80 cursor-pointer">
                <div class="p-4" onclick="goToProject('{{project.id}}')">{{project.name}}, {{projects.tasks}}: {{tasks}}</div>
                <span class="absolute top-0 right-0 text-3xl p-2 cursor-pointer"
                      onclick="captureProjectName('{{project.name}}')"
                      hx-delete="/projects/{{project.id}}"
                      hx-confirm="true"
                      hx-target="#p-{{project.id}}"
                      hx-swap="delete">
                        &times;
                    </span>
            </div>
        {{/projects}}
    </div>
    {{> ../components/confirmable-modal}}
{{/hasProjects}}
{{^projects}}
    <div>{{projects.no-projects}}</div>
{{/projects}}

<div class="my-8"><a class="underline" href="/projects/create">{{projects.add}}</a></div>

<script>
    let lastDeleteProjectName;
    let deleteProjectHTMXEvent;

    function goToProject(id) {
        location.href = "/projects/" + id;
    }

    function captureProjectName(name) {
        lastDeleteProjectName = name;
    }

    const projectsContainer = document.getElementById("projects-container");
    const deleteProjectMessageTemplate = projectsContainer? projectsContainer.getAttribute("data-delete-project-message-template") : null;

    document.addEventListener("confirmable-modal-right-clicked", e => {
        deleteProjectHTMXEvent.detail.issueRequest(deleteProjectHTMXEvent);
    });

    document.addEventListener("htmx:confirm", e => {
        e.preventDefault();
        console.log("Should confirm HTMX request!", e);
        deleteProjectHTMXEvent = e;
        const modalMessage = deleteProjectMessageTemplate.replace("{project}", lastDeleteProjectName);
        document.dispatchEvent(new CustomEvent('confirmable-modal-show', { detail: { content: modalMessage }}));
    });
</script>