<div id="{{confirmableModalId}}" class="top-0 right-0 fixed w-full h-screen z-50 pt-32 bg-black/60 hidden">
    <div class="w-11/12 md:w-8/12 xl:w-6/12 px-8 pt-8 pb-12 m-auto relative rounded-lg bg-slate-200">
        <span class="text-4xl absolute top-0 right-2 hover:text-zinc-400 cursor-pointer">&times;</span>
        <div class="text-2xl font-medium">Title</div>
        <div class="text-lg pt-4 pb-12">Content</div>
        <span class="absolute bottom-0 left-0 p-4 cursor-pointer text-xl">Left</span>
        <span class="absolute bottom-0 right-0 p-4 cursor-pointer text-xl">Right</span>
    </div>
</div>

<script>
    (function() {
        const modal = document.getElementById("{{confirmableModalId}}");
        const [hide, left, right] = modal.querySelectorAll("span");

        document.addEventListener('confirmable-modal-show', e => {
            console.log("Should show confirmable modal!", e);
            modal.classList.remove("hidden");
        });

        function hideModal() {
            modal.classList.add("hidden");
        }

        hide.onclick = hideModal;
        left.onclick = () => {
            hideModal();
        };
        right.onclick = () => {
            document.dispatchEvent(new CustomEvent("confirmable-modal-right-clicked"));
            hideModal();
        }
    })();
</script>