<div id="error-modal" class="top-0 right-0 fixed w-full h-screen z-50 pt-32 bg-black/60 hidden">
    <div class="w-11/12 md:w-8/12 xl:w-6/12 px-8 pt-8 pb-12 m-auto relative rounded-lg bg-slate-200">
        <span class="text-4xl absolute top-0 right-2 hover:text-zinc-400 cursor-pointer">&times;</span>
        <div class="text-2xl font-medium text-red-600">{{errorModalTitle}}</div>
        <div id="error-modal-content" class="text-lg pt-4"></div>
    </div>
</div>

<script>
    (function() {
        const modal = document.getElementById("error-modal");
        const content = document.getElementById("error-modal-content");
        const hide = modal.querySelector("span");

        document.addEventListener('error-modal-show', e => {
            const config = e.detail;
            if (config && config.content) {
                content.innerHTML = config.content;
            }
            modal.classList.remove("hidden");
        });

        function hideModal() {
            modal.classList.add("hidden");
        }

        hide.onclick = hideModal;
    })();
</script>