{{#error-page}}
    {{>error-page}}
{{/error-page}}
{{#devices-page}}
    {{>devices-page}}
{{/devices-page}}
{{#device-page}}
    {{>device-page}}
{{/device-page}}
{{#buy-device-page}}
    {{>buy-device-page}}
{{/buy-device-page}}
{{#buy-device-offer-page}}
    {{>buy-device-offer-page}}
{{/buy-device-offer-page}}