<div id="navigation" class="space-y-4 px-8 pt-16 border-r-2 border-solid border-black">
    <a href="/projects" class="block">{{navigation.projects}}</a>
    <a href="/tasks" class="block">{{navigation.tasks}}</a>
    <a href="/account" class="block">{{navigation.account}}</a>
</div>
<script>
    const currentPath = location.pathname;
    const [projects, tasks, account] = document.getElementById("navigation").querySelectorAll("a");

    if (currentPath.startsWith('/projects')) {
      projects.classList.add('underline');
    } else if (currentPath.startsWith('/tasks')) {
      tasks.classList.add('underline');
    } else if (currentPath.startsWith('/account')) {
      account.classList.add('underline');
    }
</script>