<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>{{title}}</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{cssPath}}"/>
    <script src="{{htmxPath}}"></script>
</head>

<body class="bg-slate-50">
    <div class="flex flex-row w-full">
        {{> navigation}}
        {{{content}}}
    </div>
</body>

</html>